body {
    margin: 0;
}

html:root {
    --mdc-theme-primary: #8d8bff;
}

.navBarImg {
    width: 100%;
}

.mdc-image-list--masonry {
    column-count: 2;
}

.hidden {
    display: none;
}

/* sheet css */
.sheet {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    margin-left: 0;
    background-color: #2e2e2e;
    transition: 0.4s ease;
}

.sheet-out-of-view {
    margin-left: -100%;
}


.sheet main {
    margin-top: 56px;
    min-height: calc(100vh - 56px - 48px);
}

.sheet img {
    width: 100%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--mdc-theme-primary);
}

footer .mdc-tab__icon {
    color: white !important;
}